<footer class="w-full bg-gray-100 mt-6 p-2 border-t-1 border-gray-300">
  <div <div class="w-full container mx-auto flex flex-col items-center justify-center text-sm text-gray-600">
    <div class="block">
      Empoderemos Más
    </div>
    <div >
      Site generated on {{ site.buildTime  | formatDate("DD", locale) }}. Site generator based on <a href="https://github.com/creasoft-dev/fundamenty">Fundamenty</a> by <a href="https://creasoft.dev/">CreaSoft.dev</a>,
      powered by <a href="https://www.11ty.dev/" >Eleventy</a>
    </div>
  </div>
</footer>