---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>
<p class="content-center">{{ site[locale]._t.published_on }}: {{ date  | formatDate("DD", locale) }}, {{ site[locale]._t.by }}  {{ author }}</p>

{% if videoUrl %}
<div class="flex justify-center">
    <iframe src="{{ videoUrl | url }} " 
    width="560" height="315" frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen ></iframe>
</div>
{% endif %}

{% if imageUrl %}
<div class="w-auto">
        <div class="h-64" style="background-image:
            url('{{ imageUrl | url }}'); 
        width:100%;
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover">&nbsp;</div>
    {% if imageCredits %}
<div>{{ imageCredits | safe }}</div>
    {% endif %}
</div>
{% endif %}


{{ content | safe }}


<hr />
<p class="content-center">{{ site[locale]._t.published_on }}: {{ date  | formatDate("DD", locale) }}, {{ site[locale]._t.by }}  {{ author }}</p>
{% if site.repoUrl %}
<a href="{{ site.repoUrl }}/edit/master/{{page.inputPath}}">{{ site[locale]._t.edit_on_git }}</a>
{% endif %}
