---
title: {{ title }}

product:
  name: 
  stream:
  phase:
  initialReleaseDate:
  link:
  businessUnit: 
  businessFunction:
  teamLead:
  techLead:
  repos: []

technical:
  architecturalDrivers:
  cloudProvider:
  containerOrchestrator:
  progLanguages: []
  techStack: []
  archiStyles: []
  backingServices: []
  sharedServices: []
  ci:
  cd:
  security: []
  observability: []
  integrations:
    upstream: []
    downstream: []
    vendor: []
  keyMetrics:
    deploymentFreq:
    leadTime:
    timeToRestore:
    changeFailRate:

meta:
  update: {{ date }}
  description:
  keywords: [""]
  author: {{ author }}
---

[TBD: Actual Content]

## Synopsis
[Short highlight of the product]

## Business Context
[Short Description of the product and the business it serves]

## Architecture

### Architectural Drivers
[A list of architecture drivers that will guide the architecture] 

### Abstract Architecture Specification
[The state of the architecture, explained in prose, complemented with diagrams whenever possible]

###​ Architecture Analysis
[Analysis of how the architecture supports or demotes the architectural drivers]

#### Architectural Concerns
[Any risks or concerns from the analysis]

#### Considerations, Suggestions and Alternatives
[Suggestions addressing each of the concerns]

## Conclusion
[Conclusion]

## References
[Related links]